body{
    font-family: sans-serif;
    margin: 0;
    background-color: #ECECEC;

    
}
p{
 font-size: small;
    font-family: sans-serif;
    color: #ECECEC;
}
a{
    font-size: medium;
    color: blanchedalmond;
    text-decoration: none;
    font-family: monospace;
    text-align: right;
}
h2{
    color: blanchedalmond;
    text-decoration: none;
    font-family: monospace;
}
h1{
    color: blanchedalmond;
    text-decoration: none;
    font-family: monospace;
}
h3{
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-weight: bold;
}
.nav {
    list-style: none;
    padding: 0;
    display: flex;
    border-radius: 5px;
    background-color: #b0b0b0;
}

.nav-link {
    text-decoration: none;
    font-family: monospace;
    padding: 10px;
    color: #000000;
    font-weight: bold;
    display: block;
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4b4b4b;
    min-width: 78px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
} 

header {
    padding-right: 20px;
    padding-left: 20px;
    
    display: flex;
    width: 520px;
    height: 75px;
    background-color: #1B5693;
    justify-content: space-between;
    align-items: center;
    padding: 20px, 20px;
    position: fixed;
    z-index: 999;
}
.pequeño{
    
    height: 20px;
    width: 60px;
    position: relative;
    align-items: center;
}

.logo{
    align-items: center;
    display: flex;
}


.uno {
    height: 120px; /* Cambiar la altura */
    border-radius: 15px;
    width: 100px; /* Cambiar el ancho */
    position: relative;
    left: 20px; /* Cambiar la posición izquierda */
    top: 30px; /* Cambiar la posición superior */
}
.dos{
    left: 170px;
    top: 120px;

    position: absolute;

}


.tres{
    left: 55px;
    top: 260px;

    position: absolute;

}
div#bienvenida{
    width: 100%;
    height: 165px;
    background-color: rgb(63, 63, 63);
    border-radius: 20px;
}
div#cuadro1{
    width: 490px;
    font-size: small;
    height: 250px;
    border-radius: 20px;
    background-color:  #1B5693;
    text-align: left;
}
div#cuadro2{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    
    background-color: #d6d6d6;
    
    padding-left: 2px;
    padding-top: 12px;
}

div#cuadro21{
    width: 490px;
    font-size: small;
    height: 510px;
    border-radius: 20px;
    background-color:  #1B5693;
    text-align: left;
}


div#cuadro31{
    width: 490px;
    font-size: small;
    height: 300px;
    border-radius: 20px;
    background-color:  gray;
    text-align: left;
}


div#cuadro34{
    width: 200px;
    position: absolute;
    top: 220px;
    left: 50px;
    font-size: small;
    height: 200px;
    border-radius: 20px;
    background-color:  rgb(218, 0, 0);
    z-index: 99;
    text-align: left;
}


div#cuadro342{
    position: absolute;
    width: 200px;
    top: 220px;
    right: 50px;
    font-size: small;
    height: 200px;
    border-radius: 20px;
    background-color:  rgb(218, 0, 0);
    z-index: 99;
    text-align: left;
}




.ruta{
    width: 400px;
    height: 400px;
}
div#cuadro22{
    width: 100px;
    
    height: 30px;
    border-radius: 8px;
    background-color: #d6d6d6;
    padding-left: 2px;
    padding-top: 12px;
}




div#cuadro23{
    
    margin-top: 20px;
    width: 490px;
    height: 70px;
    border-radius: 20px;
    background-color: gray;
    
    padding-left: 2px;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}



div#cuadro3{
    width: 310px;
    height: 170px;
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #d6d6d6;
}

div#cuadro11{
    width: 400px;
    height: 30px;
    border-radius: 15px;
    padding-top: 20px;
    background-color: gray;
}



.logo img{
    height: 40px;
    position: relative;
}
.nav-btn {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    
}
